.ng-touched.ng-invalid.form-control{
    border: solid 1px #ae0b0b;
}

.user-list{
    width: 100%;
    overflow-y: scroll;
    height: 70%;
    min-height: 250px;
}

.user-selected{
    color:#e26d1f;
}

label {
    font-size: 0.8em;
    color: rgb(51, 49, 49);
}

.required {
   color: #e26d1f;
   padding-right: 5px;   
}